    /*
    Colors
    */

$firstcolor: #0fa8bd;
$secondcolor: #ffcc00;
$thirdcolor: #951b81;
$roll-over: #e84e0f;
$annexecolor: #4c4a49;
$facebookcolor: #2162db;


    /*
    Font-Family - Polices
    */

$titlefont: 'M PLUS Rounded 1c', sans-serif;
$textfont: 'Roboto', Arial, sans-serif;;
